{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": 4
        },
        "loose": true
      }
    ],
    "bluebird"
  ],
  "plugins": [
    "transform-runtime",
    "add-module-exports"
  ],
  "sourceMaps": true
}
